version: "3.8"

services:
  db:
    image: postgres:15
    container_name: befriended_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    ports:
    - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - bef_net

  web:
    image: sridharhere/befriended:latest
    container_name: befriended_web
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      DJANGO_SETTINGS_MODULE: BeFriended.settings
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    networks:
      - bef_net

volumes:
  db_data:
  static_volume:
  media_volume:

networks:
  bef_net:
